google-genai>=1.51.0
openai>= 2.8.0
fastapi==0.115.*
filelock
uvicorn[standard]
email-validator==2.2.0
pydantic==2.11.*
aiohttp[speedups]
sqlalchemy>=2.0.40
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
sqlmodel>=0.0.24
asyncpg
psycopg2-binary
alembic
websockets
aioboto3==13.3.0
structlog
pypdf 
PyPDF2  
stringcase
python-multipart
asgi-correlation-id
croniter
alembic-postgresql-enum
python-slugify==8.0.4
taskiq[reload,orjson]
taskiq-redis
taskiq-fastapi
taskiq-dependencies
pillow>=10.0.0
pillow-heif>=0.13.0
livekit
livekit-api
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
httpx[http2]
fal_client
chromadb
langchain
langchain-community
python-docx
langchain-text-splitters
duckduckgo-search
wikipedia